.square {
  font-family: 'Permanent Marker';
  background: inherit;
  color: #ffffff;
  border: none;
  font-size: 48px;
  font-weight: bold;
  line-height: 100px;
  padding: 0;
  text-align: center;
  height: 100px;
  width: 100px;
  cursor: pointer;
  border-left: 3px solid #c0c0c0;
  border-top: 3px solid #c0c0c0;
  transition: color 0.25s ease-in-out;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
  border-top: none;
}

.square:nth-child(3n+1) {
  border-left: none;
}

.square:focus {
  outline: none;
}

.square.last {
  color: #888888;
}

.end > .square {
  color: #ffffff !important;
}
